* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.container {
  padding: 20px 30px 0px 30px;
}

.container img {
  width: 80px;
}

.main {
  background-color: #6e0a0a;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 100px;
  gap: 80px;
  margin: 10px 40px 40px 40px;

  position: relative;
  overflow: hidden;
}

.main::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;

  width: 100px;
  height: 100px;

  background: white;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.left {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left h1 {
  font-size: 72px;
  margin-bottom: 0px;
  font-weight: 800;
}

.left p {
  margin-bottom: 0px;
  font-size: 20px;
}

.left h2 {
  font-size: 26px;
  font-weight: 600;
  color: black;
  padding-bottom: 60%;
}

.right form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  background: transparent;
  border: 2px solid white;
  padding: 14px;
  margin-bottom: 10px;
  color: white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.right h2 {
  color: white;
  margin: 30px 0 10px;
}

.right p {
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
}

.check {
  background-color: transparent;
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}

.check label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.check input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;

  background-color: transparent;
  width: 12px;
  height: 12px;
  border: 1.5px solid white;
  cursor: pointer;
}

.check input[type="checkbox"]:checked {
  background-color: transparent;
  position: relative;
}

.check input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 0px;

  width: 4px;
  height: 8px;

  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

textarea {
  width: 100%;
  background: transparent;
  border: 2px solid white;
  padding: 12px;

  color: white;
}

textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

#button1 {
  background-color: white;
  color: black;
  border: none;
  padding: 10px;
  font-size: 26px;
  cursor: pointer;
  font-weight: 400;
  margin-top: 40px;
}

#plus {
  margin-left: 100px;
}

textarea {
  padding-top: 70px; /* adjust until centered */
}

textarea:not(:placeholder-shown) {
  padding-top: 12px;
}
